
img{
    width:75px;
}

.swiper-button-prev, .swiper-button-next{
width:30px !important;
    height: 30px !important;
    color: #000 !important;
    background-color: #fff !important;
    border-radius: 50%;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px !important;
   
}
 .swiper-pagination-bullet{
    background-color: palevioletred !important;
    padding-top: 4px;
 }

 .swiper-custom-pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: px; */
 }

 .swiper-pagination-bullets{
    bottom: -6px !important;
 }